#container{
	background-color: white;
	width: 700px;
	margin: 0 auto;

}
body{
	background-color: white;
	text-align: center;
}
#header{
	color: red;
}
h2{
	color: black;
}
#game{
	background-color: #D5DBDB;
	width: 400px;
	margin: 10px auto;
	font-weight: bold;
	font-size: 150%;
}
#guessedletters{
	background-color: #D6DBDF;
	width: 100%;
	margin: 10px auto;
	color: black;
	font-size: 200%;
}